body {
	color: #FFF;
	background-color: #000;
	font-family: sans-serif;
	font-size: 1em;
	text-shadow: 2px 2px #000000;
}

h1,h3,h4,h5,h6 {
	text-transform: uppercase;
	font-weight: bolder;
}

.btn {
	display: inline-block;
	text-transform: uppercase;
	user-select: none;
	padding: 8px 12px 8px 12px;
	color: #FFF;
	background-color: #000;
	border: none;
	font-size: 0.8em;
	border-radius: 8px;
	transition: all ease 100ms;
	text-shadow: none;
}

.btn:hover {
	color: #000;
	background-color: #FFF;
	cursor: pointer;
}

#content {
	display: none;
}

#console {
	background-color: #000;
	margin-top: 24px;
	border-radius: 8px;
	padding: 8px 12px 8px 12px;
	text-align: left;
	overflow-wrap: break-word;
}

#console p {
	margin: 4px;
	font-family: monospace;
}

#menu, #editor {
	background-color: #222;
	max-width: 960px;
	margin: 32px auto 32px auto;
	border-radius: 8px;
	padding: 24px;
}

#editor label {
	font-size: 0.9em;
	font-weight: bolder;
	text-transform: uppercase;
}

.desc {
	color: #CCC;
	font-size: 0.9em;
	margin-top: 0;
}

.sect {
	display: none;
}

input[type=text] {
	background-color: #000;
	color: #FFF;
	padding: 8px;
	border: none;
	border-radius: 8px;
	font-family: monospace;
	font-weight: bold;
}

input[type=number] {
	background-color: #000;
	color: #FFF;
	padding: 8px;
	border: none;
	border-radius: 8px;
	font-family: monospace;
	font-weight: bold;
}

input[type=datetime-local] {
	background-color: #000;
	color: #FFF;
	padding: 8px;
	border: none;
	border-radius: 8px;
	font-family: monospace;
	font-weight: bold;
}

select {
	background-color: #000;
	color: #FFF;
	padding: 8px;
	border: none;
	border-radius: 8px;
	font-family: monospace;
	font-weight: bold;
}

.card-select {
	display: flex;
	flex-wrap: wrap;
	max-width: 640px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.card {
	width: 120px;
	height: 180px;
	background-color: #444;
	border-radius: 8px;
	margin: 6px;
}